<ng-template #modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{  name }}</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="col-xs-12">
        <textarea name="comp-label"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="saveForm()">Save</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Cancel</button>
  </div>
</ng-template>